/**
 * Copyright (C) 2017 Jens Lechtenbörger
 *
 * Theme for ERCIS presentation with title image
 *
 * Released under the MIT License: https://opensource.org/licenses/MIT
 */

@import url(ercis.css);

/* Image is in public domain.
   Source: https://en.wikipedia.org/wiki/File:Laurentius_de_Voltolina_001.jpg */
.reveal h1:after {
  content: url(297px-Laurentius_de_Voltolina_001.jpg); }

/* Reduce font size for bibliography items. */
.reveal .org-ref-bib {
  font-size: 0.5em; }
